.bg-primary, .bg-warning, .bg-danger, .bg-info{border:none; margin-right: 3px;}
.fa-edit:before, .fa-user:before, .fa-trash:before, .fa-eye:before{color: #fff;}
.btn{margin-right: 3px;}
button .nav-link {padding: 0px!important;}
button .nav-link span{color: #fff;
margin: 0 5px 0 5px;
font-size: 15px;}

.container {

    width: 20%;
    margin: 0 auto;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.26);
    margin-top: 150px;
    text-align: center;
    padding: 100px;


}